<html>
    <body style="font-family:Trebuchet MS, Helvetica, sans-serif; background-color:#212121; color: #1DB954">
      <style>
        button {
              font-family:Trebuchet MS, Helvetica, sans-serif; 
              background-color:#1DB954; 
              color: #212121; 
              border-color: #1DB954; 
              border-radius: 11%; 
              font-weight: bold; 
              width:auto;
              height:auto;
              font-size: 17px;
              padding: 5px 9px 5px;
        }     
      </style>
        <h1 style="text-align:center;">Welcome to the Spotify Song-Analytics Website!</h1>
        <h2 style="text-align:center;">This website contains features to allow you to see analytics of both your top Spotify songs, and any song on Spotify!</h2>
        <h3>Please login to use the different features of this website.</h3>
        <button onclick="window.location.href = '{{url}}'">Login</button>
    </body>
</html>
